/* TRIAL PAGE STYLES */
#noticeBar {
    display: none;
    padding: 10px 0;
}
#noticeBar .content {
    margin: 0 auto;
    width: 1000px;
    border: 3px dashed red;
    background: #fff;
    text-align: center;
    padding: 20px;
}
#noticeBar h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: left;
    line-height: 1.2em;
    color: #000;
}
#noticeBar h3 span {
    color: #f00;
}
form .fields {
    padding-top: 20px;
}
form .fields .label {
    margin-left: 14px;
}
.submit {
    margin: 8px 0 10px 0;
}

form .fields .input select[name=cc_month] {
    margin-left: 0;
}

form .fields .input select {
    float: none;
}