@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&display=swap');
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary{display:block;}
audio,
canvas,
video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html{background:#fff;color:#000;font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
html,
button,
input,
select,
textarea{font-family:sans-serif;}
body{margin:0;}
a:focus{outline:thin dotted;}
a:active,
a:hover{outline:0;}
h1{font-size:2em;margin:0.67em 0;}
h2{font-size:1.5em;margin:0.83em 0;}
h3{font-size:1.17em;margin:1em 0;}
h4{font-size:1em;margin:1.33em 0;}
h5{font-size:0.83em;margin:1.67em 0;}
h6{font-size:0.67em;margin:2.33em 0;}
abbr[title]{border-bottom:1px dotted;}
b,
strong{font-weight:bold;}
blockquote{margin:1em 40px;}
dfn{font-style:italic;}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}
mark{background:#ff0;color:#000;}
p,
pre{margin:1em 0;}
code,
kbd,
pre,
samp{font-family:monospace, serif;_font-family:'courier new', monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,
q:after{content:'';content:none;}
small{font-size:80%;}
sub,
sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
dl,
menu,
ol,
ul{margin:1em 0;}
dd{margin:0 0 0 40px;}
menu,
ol,
ul{padding:0 0 0 40px;}
nav ul,
nav ol{list-style:none;list-style-image:none;}
img{border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
form{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}
button,
input,
select,
textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,
input{line-height:normal;}
button,
select{text-transform:none;}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible;}
button[disabled],
html input[disabled]{cursor:default;}
input[type="checkbox"],
input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,
input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
.mfp-bg{top:0;left:0;width:100%;height:100%;z-index:1042;overflow:hidden;position:fixed;background:#0b0b0b;opacity:0.8;filter:alpha(opacity=80);}
.mfp-wrap{top:0;left:0;width:100%;height:100%;z-index:1043;position:fixed;outline:none !important;-webkit-backface-visibility:hidden;}
.mfp-container{text-align:center;position:absolute;width:100%;height:100%;left:0;top:0;padding:0 8px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.mfp-container:before{content:'';display:inline-block;height:100%;vertical-align:middle;}
.mfp-align-top .mfp-container:before{display:none;}
.mfp-content{position:relative;display:inline-block;vertical-align:middle;margin:0 auto;text-align:left;z-index:1045;}
.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content{width:100%;cursor:auto;}
.mfp-ajax-cur{cursor:progress;}
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close{cursor:-moz-zoom-out;cursor:-webkit-zoom-out;cursor:zoom-out;}
.mfp-zoom{cursor:pointer;cursor:-webkit-zoom-in;cursor:-moz-zoom-in;cursor:zoom-in;}
.mfp-auto-cursor .mfp-content{cursor:auto;}
.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter{-webkit-user-select:none;-moz-user-select:none;user-select:none;}
.mfp-loading.mfp-figure{display:none;}
.mfp-hide{display:none !important;}
.mfp-preloader{color:#cccccc;position:absolute;top:50%;width:auto;text-align:center;margin-top:-0.8em;left:8px;right:8px;z-index:1044;}
.mfp-preloader a{color:#cccccc;}
.mfp-preloader a:hover{color:white;}
.mfp-s-ready .mfp-preloader{display:none;}
.mfp-s-error .mfp-content{display:none;}
button.mfp-close, button.mfp-arrow{overflow:visible;cursor:pointer;background:transparent;border:0;-webkit-appearance:none;display:block;outline:none;padding:0;z-index:1046;-webkit-box-shadow:none;box-shadow:none;}
button::-moz-focus-inner{padding:0;border:0;}
.mfp-close{width:44px;height:44px;line-height:44px;position:absolute;right:0;top:0;text-decoration:none;text-align:center;opacity:0.65;filter:alpha(opacity=65);padding:0 0 18px 10px;color:white;font-style:normal;font-size:5vh;font-family:Arial, Baskerville, monospace;}
.mfp-close:hover, .mfp-close:focus{opacity:1;filter:alpha(opacity=100);}
.mfp-close:active{top:1px;}
.mfp-close-btn-in .mfp-close{color:#333333;}
.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close{color:white;right:-6px;text-align:right;padding-right:6px;width:100%;}
.mfp-counter{position:absolute;top:0;right:0;color:#cccccc;font-size:12px;line-height:18px;}
.mfp-arrow{position:absolute;opacity:0.65;filter:alpha(opacity=65);margin:0;top:50%;margin-top:-55px;padding:0;width:90px;height:110px;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
.mfp-arrow:active{margin-top:-54px;}
.mfp-arrow:hover, .mfp-arrow:focus{opacity:1;filter:alpha(opacity=100);}
.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a{content:'';display:block;width:0;height:0;position:absolute;left:0;top:0;margin-top:35px;margin-left:35px;border:medium inset transparent;}
.mfp-arrow:after, .mfp-arrow .mfp-a{border-top-width:13px;border-bottom-width:13px;top:8px;}
.mfp-arrow:before, .mfp-arrow .mfp-b{border-top-width:21px;border-bottom-width:21px;opacity:0.7;}
.mfp-arrow-left{left:0;}
.mfp-arrow-left:after, .mfp-arrow-left .mfp-a{border-right:17px solid white;margin-left:31px;}
.mfp-arrow-left:before, .mfp-arrow-left .mfp-b{margin-left:25px;border-right:27px solid #3f3f3f;}
.mfp-arrow-right{right:0;}
.mfp-arrow-right:after, .mfp-arrow-right .mfp-a{border-left:17px solid white;margin-left:39px;}
.mfp-arrow-right:before, .mfp-arrow-right .mfp-b{border-left:27px solid #3f3f3f;}
.mfp-iframe-holder{padding-top:40px;padding-bottom:40px;}
.mfp-iframe-holder .mfp-content{line-height:0;width:100%;max-width:900px;}
.mfp-iframe-holder .mfp-close{top:-40px;}
.mfp-iframe-scaler{width:100%;height:0;overflow:hidden;padding-top:56.25%;}
.mfp-iframe-scaler iframe{position:absolute;display:block;top:0;left:0;width:100%;height:100%;box-shadow:0 0 8px rgba(0, 0, 0, 0.6);background:black;}
img.mfp-img{width:auto;max-width:100%;height:auto;display:block;line-height:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:40px 0 40px;margin:0 auto;}
.mfp-figure{line-height:0;}
.mfp-figure:after{content:'';position:absolute;left:0;top:40px;bottom:40px;display:block;right:0;width:auto;height:auto;z-index:-1;box-shadow:0 0 8px rgba(0, 0, 0, 0.6);background:#444444;}
.mfp-figure small{color:#bdbdbd;display:block;font-size:12px;line-height:14px;}
.mfp-figure figure{margin:0;}
.mfp-bottom-bar{margin-top:-36px;position:absolute;top:100%;left:0;width:100%;cursor:auto;}
.mfp-title{text-align:left;line-height:18px;color:#f3f3f3;word-wrap:break-word;padding-right:36px;}
.mfp-image-holder .mfp-content{max-width:100%;}
.mfp-gallery .mfp-image-holder .mfp-figure{cursor:pointer;}
@media screen and (max-width:800px) and (orientation:landscape), screen and (max-height:300px){.mfp-img-mobile .mfp-image-holder{padding-left:0;padding-right:0;}
.mfp-img-mobile img.mfp-img{padding:0;}
.mfp-img-mobile .mfp-figure:after{top:0;bottom:0;}
.mfp-img-mobile .mfp-figure small{display:inline;margin-left:5px;}
.mfp-img-mobile .mfp-bottom-bar{background:rgba(0, 0, 0, 0.6);bottom:0;margin:0;top:auto;padding:3px 5px;position:fixed;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.mfp-img-mobile .mfp-bottom-bar:empty{padding:0;}
.mfp-img-mobile .mfp-counter{right:5px;top:3px;}
.mfp-img-mobile .mfp-close{top:0;right:0;width:35px;height:35px;line-height:35px;background:rgba(0, 0, 0, 0.6);position:fixed;text-align:center;padding:0;}
}
@media all and (max-width:900px){.mfp-arrow{-webkit-transform:scale(0.75);transform:scale(0.75);}
.mfp-arrow-left{-webkit-transform-origin:0;transform-origin:0;}
.mfp-arrow-right{-webkit-transform-origin:100%;transform-origin:100%;}
.mfp-container{padding-left:6px;padding-right:6px;}
}
.mfp-ie7 .mfp-img{padding:0;}
.mfp-ie7 .mfp-bottom-bar{width:600px;left:50%;margin-left:-300px;margin-top:5px;padding-bottom:5px;}
.mfp-ie7 .mfp-container{padding:0;}
.mfp-ie7 .mfp-content{padding-top:44px;}
.mfp-ie7 .mfp-close{top:0;right:0;padding-top:0;}
.mfp-close-ok{background:none repeat scroll 0 0 #444444 !important;border:1px solid #CCCCCC !important;border-radius:14px;box-shadow:0 2px 2px rgba(0, 0, 0, 0.8) !important;color:#FFFFFF !important;font-size:2vh;height:auto;width:auto;margin:0 auto;line-height:1;padding:1vh 4vh !important;position:inherit;text-shadow:1px 1px 0 #000000;}
.white-popup{font-family:Arial, Helvetica, sans-serif;font-size:2vh;font-weight:normal;position:relative;background:#FFF;color:#000;padding:20px;width:auto;max-width:860px;margin:20px auto;border-radius:5px;font-weight:normal;}
.white-popup.ic-loading{max-width:300px;text-align:center;font-size:2vh;font-weight:bold;}
.white-popup.ic-loading img{display:inline;}
.white-popup .ic-modal-title{border-bottom:1px solid #ccc;font-size:2.5vh;font-weight:bold;padding-bottom:5px;}
.white-popup .ic-modal-content{}
.white-popup .ic-modal-content ul{padding:0 0 0 40px;margin:0;}
.white-popup .ic-modal-content p{margin:3vh 0;font-size:2.2vh;}
.white-popup > h1{line-height:5.5vh;}
.white-popup > p{margin:3vh 0;}
.white-popup > p > strong{font-weight:bold;}
.content.white-popup p{text-align:justify;}
.content.white-popup h1{text-align:center;color:#333;font-size:3vh;margin:0.5em 0;font-weight:bold;text-transform:uppercase;background:none;border:none;padding:0;}
.content.white-popup h2{font-size:2.5vh;margin:1vh 0;}
.ic-side-by-side{text-align:center;}
.ic-side-by-side button{display:inline;margin:0 2vh;}
.ic-exitpop{position:relative;width:auto;max-width:860px;margin:0 auto;}
.ic-exitpop img{width:100%;}
body{margin:auto;padding:0;text-align:left;font-family:'Open Sans', sans-serif;color:#000000;font-size:18px;line-height:28px;-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;font-smoothing:antialiased;background:#fafdfd;}
div, ul, h1, h2, h3, h5,li, p, img, form, input, textarea{margin:0;padding:0;}
img{border:none;}
li{list-style:none;}
.clearall{clear:both;font-size:1px;line-height:1px;height:1px;}
div#container{height:auto;}
.contentWrap{width:1004px;margin:0 auto;position:relative;}
.tophdr{height:32px;background:#ff0000;width:100%;margin:0 auto;padding:0 0 0 0;}
.hdrtxt{font-size:16px;line-height:32px;text-align:center;font-weight:600;color:#ffffff;margin:0;padding:0 0 0 0;}
.hdrtxt span{font-weight:bold;font-size:18px;text-transform:uppercase;}
.hdrtxt b{color:#fff200}
div#section1, div#section2, div#section3, .sec3inner, div#section4, div#section5, div#section6,
.sec6inner, div#section7, .sec7inner{min-width:1004px;width:100%;margin:0 auto;display:block;}
div#section1{background:#fafdfd;height:785px;}
.sec1inner{background:url(img/section1.jpg) center top no-repeat;height:772px;position:relative;margin:0 auto;}
.lft-content, .rgt-frm{float:left;display:inline-block;width:69%;height:772px;}
.s1-logo, .s1-tagline{position:absolute;top:16px;left: 147px;}
.s1-tagline{top:31px;left:436px;}
.s1hding, .s8hding{font-family:'Open Sans';font-size:28px;line-height:40px;color:#2c529d;text-align:left;letter-spacing:-0.6px;margin:0;padding: 115px 0 0 180px;}
.s1hding2, .s8hding2{font-family:'Open Sans';font-weight:800;font-size:67px;line-height:53px;color:#f47a30;text-align:left;text-transform:uppercase;letter-spacing:-1.6px;margin:0;padding:0 0 0 173px;}
.s1hding2 span, .s8hding2 span{color:#5a266e;font-size:61px}
.s1-prod1, .s1-prod2, .s1-arrow, .s1seal{position:absolute;top:406px;left:-115px;}
.s1-prod2{top: 396px;left: -68px;width: 303px;}
.s1-arrow{top: 628px;left:161px;}
.s1seal{top:526px;left:-225px;}
.doctor{position:relative;margin:43px 0 0 200px;width:439px;}
.s1txt{font-size:15px;line-height:18px;color:#535353;font-weight:600;font-style:italic;text-align:left;padding:20px 0 0 0;margin:0;}
.s1txt span{font-weight:800;color:#000000;font-style:normal;}
.s1no-pres{position:absolute;left:0;top:20px;}
ul.s1list, ul.s8list{width:66%;margin: 142px 0 0 228px;padding:0;}
ul.s1list li, ul.s8list li{background:url(img/bulletpoint.png) left 7px no-repeat;font-size:18px;line-height:23px;color:#2e4555;text-align:left;letter-spacing:-0.5px;margin:0 0 2px 0;padding:5px 0 0 49px;height: 67px;}
ul.s1list li span, ul.s8list li span{font-size:24px;font-weight:700;color:#482556;}
ul.s1list li:nth-child(3){padding:6px 0 0 49px;margin:5px 0 2px 0;}
.as-seen{margin:120px 0 0 204px;}
.rgt-frm{width:30.6%;border:2px solid #2c529d;height:662px;border-bottom:6px solid #6a2e84;background:#f7f7f1;margin:154px 0 0 0;}
.form-position{float:left;margin:3px auto 0 auto;}
.frmElemts{margin:6px 0 0 0;clear:both;}
.frmElemts label{font-family:'Open Sans', sans-serif;line-height:31px;width:100px;font-size:16px;float:left;color:#4d6169;text-align:right;letter-spacing:-0.2px;width:90px;margin-right:9px;}
.frmElemts input, .frmElemts select{font-family:'Open Sans', sans-serif;width:185px;height:31px;background-color:#FFF;outline:none;padding-left:4px;border:1px solid #dfdfdf;font-size:14px;color:#000000;float:right;margin:0 0 6px 0;text-align:left;line-height:37px;}
.frmElemts select{width:191px;height:33px;line-height:35px;}
.frmElemts select.short{height:30px;line-height:38px;width:32%;margin:0 1px 6px 5px;}
.frmElemts select.short2{width:31%;margin:0 0px 0 2px;float:left;}
.frmElemts input.short2{width:29%;margin:0 0px 0 2px;float:left;}
.frm-btm{width:100%;margin:0 auto;border-bottom:2px solid #2c529d;padding-bottom:10px;}
.submit{margin:10px auto 0 auto;background:url(../promo/css/img/submit-btn.png) 0 0 no-repeat;height:70px;width:276px;cursor:pointer;border:none;outline:none;display:block;}
.cards{margin:5px auto;display:block;}
.lock{margin:8px auto 0 auto;display:block;}
.security{margin:8px auto 0 auto;display:block;}
div#section2{background:#ffffff;height:480px;}
.sec2inner{background:url(img/section2.jpg) center top no-repeat;height:480px;}
.sec2hding{font-family:'Open Sans';font-weight:800;font-size:38px;line-height:41px;color:#050404;text-align:center;letter-spacing:-1px;text-transform:uppercase;margin:0;padding:49px 0 0 0;}
.sec2hding span{color:#ff0000;font-size:48px;line-height:33px;}
.s2txt{font-size:20px;line-height:22px;text-align:center;color:#282828;margin:0;padding:0 0 0 0}
.box-area{width:92%;margin:24px auto 0 auto;display:block;height:394px;padding:0 0 0 0;position:relative;box-sizing:border-box;}
.s2box1, .s2box2, .s2box3, .s2box4{float:left;display:inline-block;width:25%;margin:0;padding:0;position:relative;box-sizing:border-box;}
.s2box-txt{font-size:20px;line-height:22px;color:#282828;text-align:center;letter-spacing:-0.5px;font-weight:700;padding:10px 0 0 0;margin:0;}
div#section3{height:1000px;background:#ffffff;}
.sec3inner{height:963px;background:url(img/section3.jpg) center center no-repeat;margin:0 auto;}
.s3img1, .s3-prod1, .s3-prod2, .hding-img{position:absolute;top:296px;right:160px;}
.satisfaction-seal{position:absolute;top:690px;left:19px;}
.s3-prod1{top:435px;right:-50px;}
.s3-prod2{top:381px;right:-57px;}
.s3hding, .s4hding, .s5hding, .s6hding, .s7hding{font-family:'Open Sans';font-weight:800;font-size:40px;line-height:41px;color:#5a266e;text-align:left;padding:78px 0 0 0;margin-left:-0.5px;letter-spacing:-1.2px;text-transform:uppercase;}
.s3hding span, .s4hding span, .s5hding span, .s6hding span, .s7hding span{color:#f47a30;font-size: 49px;line-height:33px;}
.hding-img{top:10px;right:416px;}
.sec3txt{font-size:16px;line-height:24px;width:626px;margin:0;letter-spacing: -0.6px;padding:55px 0 0 0;}
.sec3txt span{color:#f47a30;}
.sec3txt2, .sec3txt3{font-size:24px;line-height:27px;color:#ffffff;text-align:left;text-transform:uppercase;letter-spacing:-0.5px;margin:0;padding: 54px 0 0 20px;}
.sec3txt2 span{font-size:28px;font-weight:bold;}
.sec3txt3, .sec3txt4{font-size: 16px;line-height:24px;text-transform:none;width:365px;font-weight:600;font-style:italic;letter-spacing:-0.4px;padding:6px 0 0 20px;}
.sec3txt4{font-size:18px;color:#232323;width:516px;line-height:24px;letter-spacing:-0.5px;padding:56px 0 0 156px;}
.btn-strip, .s4btn-strip, .s5btn-strip, .s6btn-strip{background:url(img/btn-strip.png) center top no-repeat;height:123px;width:100%;position:relative;margin:35px auto 0 auto;}
.btn-txt{font-size:23px;line-height:33px;color:#262626;text-align:left;font-weight:bold;letter-spacing:-0.6px;margin:0;padding:28px 0 0 20px;}
.btn-txt span{font-size: 40px;letter-spacing: -1px;text-transform:uppercase;}
.sec3btn{position:absolute;top:27px;right:27px;}
div#section4{background:url(img/section4.jpg) center top no-repeat;height: 975px;}
.s4-logo, .hding-img2{position:absolute;top:38px;left:116px;}
.hding-img2{top:6px;left:446px;}
.s4hding{margin:0;padding: 37px 0 0 137px;line-height:48px;font-size: 38px;}
.s4seal{position:absolute;top:115px;right:35px;}
.s4txt, .s4txt2, .s4txt3{font-size:16px;line-height:24px;text-align:left;color:#404040;width:714px;letter-spacing:-0.5px;margin:0;padding:21px 0 0 204px;/* height: 197px; */}
.s4txt span, .s4txt6{font-size: 15.5px;line-height:24px;font-weight:bold;color:#000000;}
.s4txt b{color:#e66120;}
.s4txt2{color:#fff;line-height:20px;text-align:left;font-weight:600;padding: 11px 0 0 129px;width:535px;letter-spacing:-0.5px;margin:0;}
.s4txt3{text-transform:uppercase;font-weight:bold;font-size:17px;line-height:20px;letter-spacing: -0.75px;padding:39px 0 0 127px;}
.s4txt4, .s4txt5, .s4txt52, .s4txt53{font-size:24px;line-height:30px;color:#e66120;text-align:left;font-style:italic;letter-spacing:-0.6px;font-weight:800 !important;text-transform:uppercase;margin:0;padding: 8px 0 0 182px;}
.s4txt5{padding:11px 0 0 182px;letter-spacing:normal;}
.s4img{position:absolute;top:396px;right:0;}
.s4txt6{color:#303030;letter-spacing:-0.4px;line-height:22px;padding:31px 0 0 9px;}
.s4txt3 span, .s4txt6 span{color:#e66120;}
.s4btn-strip{margin:30px auto 0 auto;}
div#section5{background:url(img/section5.jpg) center center no-repeat;height:1175px;}
.sec5inner{width:100%;height:1080px;margin-top: 69px;}
.s5hding{text-align:center;line-height:36px;padding:46px 0 0 0;}
.sec5txt{font-weight:bold;color:#000000;line-height:26px;text-align:center;letter-spacing:-0.5px;padding:42px 0 0 0;margin:0;}
.sec5txt span{color:#e66120;}
.s5benefits{width:100%;margin:0 auto;}
.s5box1, .s5box2, .s5box3, .s5box4, .s5box5{float:left;display:inline-block;width:20%;margin:17px auto 0 auto;}
.bnft-txt{font-size:24px;line-height:24px;font-weight:bold;color:#5a266e;text-transform:uppercase;text-align:center;letter-spacing:-0.7px;height: 97px;margin:0 auto;padding: 1px 0 0 0;}
.bnft-txt2{font-size:17px;color:#2d2d2d;text-align:center;line-height:24px;letter-spacing:-0.5px;margin:0 auto;padding:0 10px 0 10px;}
.s5-prod1, .s5-prod2, .s5-prod3, .s5img, .s5img2{position:absolute;top: 601px;left: 291px;}
.s5-prod2{top: 599px;left: 432px;}
.s5-prod3{top: 626px;left: 352px;}
.s5img{top:857px;left:-29px;}
.s5img2{top:852px;left:686px;}
.s5lft-txt, .s5rgt-txt{float:left;display:inline-block;width:58%;font-size:21px;line-height:20px;color:#5a266e;text-align:left;text-transform:uppercase;font-weight:bold;font-style:italic;letter-spacing:-0.5px;margin:344px 0 0 0;padding:0 0 0 101px;}
.s5rgt-txt{font-size:23px;width:23%;padding:3px 0 0 87px;letter-spacing:-0.5px;}
.s5lft-txt span{color:#f47a30;font-size:16px;}
.s5rgt-txt span{color:#f47a30;font-size:20px;}
.s5rgt-txt b{color:#000;font-size:20px;}
.s5btn-strip{margin:54px auto 0 auto;}
div#section6{height:1100px;background:#fff;}
.sec6inner{height:1029px;background:url(img/section6.jpg) center top no-repeat;margin:0 auto;}
.s6hding{padding:26px 0 0 0;line-height:32px;}
.natural-seal{position:absolute;top:16px;right:12px;}
.sec6lft, .sec6rgt{float:left;display:inline-block;width:26%;padding:0 0 0 0;margin:60px 0 0 0;}
.sec6rgt{width:73%;padding:0 0 0 3px;}
.s6ingrnts1, .s6ingrnts2, .s6ingrnts3, .s6ingrnts4, .s6ingrnts5, .s6ingrnts6{color:#ffffff;font-weight:bold;text-transform:uppercase;text-align:center;font-size:22px;line-height:24px;letter-spacing:-0.5px;margin:0;padding:13px 0 0 0;}
.s6ingrnts2{padding:56px 0 0 0;}
.s6ingrnts3{color:#f47a30;text-align:left;padding:0px 0 0 164px;}
.lftingrnts, .rgtingrnts{float:left;display:inline-block;width:49%;margin:0;padding:0;}
.s6ingrnts4, .s6ingrnts5{color:#d50023;text-align:left;padding:27px 0 0 24px;}
.s6ingrnts5{padding:27px 0 0 24px;color:#083c90;}
.s6txt, .s6txt2, .s6txt3{color:#353535;line-height:23px;text-align:center;letter-spacing:-0.4px;margin:0;padding:112px 0 0 0;}
.s6txt2{text-align:left;padding:3px 34px 0 165px;}
.s6txt3{text-align:left;width:200px;padding:6px 10px 0 23px;}
.s6ingrnts6{color:#703135;text-align:left;padding:43px 0 5px 165px;}
.s6btm-txt{font-size:18px;line-height:24px;color:#353535;text-align:left;font-weight:600;letter-spacing:-0.5px;width:700px;margin:0;padding:43px 0 0 37px;}
.s6btm-txt span{font-size:30px;line-height:34px;font-weight:700;color:#f47a30;text-transform:uppercase;}
div#section7{height:648px;}
.sec7inner{background:url(img/section7.jpg) center top no-repeat;height:648px;}
.s7hding{padding:20px 0 0 0;line-height:48px;text-align:center;}
.s7txt{font-weight:bold;text-align:center;color:#000000;letter-spacing:-0.5px;line-height:24px;margin:0;padding:35px 0 0 0;}
.s7txt span{color:#f47a30;}
.slider{width:100%;margin:2% auto;display:block;}
.lft-box, .rgt-box{background:url(img/slider-box.png) center top no-repeat;float:left;display:inline-block;width:48.5%;height:358px;margin-right:3%;position:relative;}
.rgt-box{margin:0 0 0 0;}
.sldr-tstimnl{font-size:17px;line-height:22px;color:#161616;font-style:italic;text-align:left;letter-spacing:-0.5px;padding:81px 0 0 21px;width:300px;margin:0;}
.slider-txt span{color:#00adef;line-height:40px;}
.sliderimg, .star{position:absolute;top:109px;right:8px;}
.star{top:304px;right:29px;}
.tstmnl-name, .tstmnl-name2{font-size:18px;font-weight:bold;color:#f47a30;line-height:22px;text-align:left;letter-spacing:-0.3px;margin:0;padding:45px 0 0 21px;}
.tstmnl-name{padding:25px 0 0 21px;}
div#section8{background:url(img/section8.jpg) center top no-repeat;height:718px;}
.s8hding{padding: 90px 0 0 28px;}
.s8hding2{padding:0 0 0 22px;}
.s8txt{font-size:24px;line-height:28px;color:#ffffff;text-align:left;font-weight:bold;letter-spacing:1px;margin:0;padding:26px 0 0 32px;}
.s8seal1{position:absolute;right:282px;top:16px;}
.s8-logo, .s8-prod1, .s8-prod2, .s8-prod3{position:absolute;top:-13px;left:63px;}
.s8-prod1{top:317px;left:444px;}
.s8-prod2{top:316px;left: 592px;}
.s8-prod3{top: 262px;left:506px;}
.s8no-pres{position:absolute;left:10px;top:294px;}
.s8seal2{position:absolute;right:-49px;top:532px;}
ul.s8list{margin:0;padding: 88px 0 0 32px;}
ul.s8list li{padding:6px 0 0 52px}
ul.s8list li:nth-child(3){padding:6px 0 0 49px;margin:5px 0 2px 0;}
.sec8btn{position:absolute;top:584px;left:33px;display:block;}
div#footer{height:auto;background:#ffffff;border-top:1px solid #e7e7ce;}
.ftrtxt{font-size:17px;line-height:27px;color:#887070;text-align:center;padding:25px 0 25px 0;margin:0;}
.ftrtxt a, .ftrtxt a:hover{text-decoration:none;color:#887070;}
.ftrtxt span{text-transform:none;line-height:22px;}
.pulse{animation-name:pulse;-webkit-animation-name:pulse;animation-duration:1.5s;-webkit-animation-duration:1.5s;animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite;}
@keyframes pulse{0%{transform:scale(0.9);opacity:0.9;}
50%{transform:scale(1);opacity:1;}
100%{transform:scale(0.9);opacity:0.9;}
}
@-webkit-keyframes pulse{0%{-webkit-transform:scale(0.95);opacity:0.7;}
50%{-webkit-transform:scale(1);opacity:1;}
100%{-webkit-transform:scale(0.95);opacity:0.7;}
}
@charset 'UTF-8';.slick-slider{margin-bottom:30px;}
.slick-dots{position:absolute;bottom:-60px;display:block;width:100%;padding:0;list-style:none;text-align:center;}
.slick-dots li{position:relative;display:inline-block;width:12px;height:12px;border-radius:50%;margin:0 4px;padding:0;cursor:pointer;list-style:none;}
.slick-dots li button{font-size:0;line-height:0;display:block;width:12px;height:12px;border-radius:50%;padding:5px;cursor:pointer;color:transparent;border:0;outline:none;background:#cfcfcf;}
.slick-dots li button:hover,
.slick-dots li button:focus{outline:none;background:#5a266e;height:12px;}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before{opacity:1;}
.slick-dots li button:before{font-family:'slick';position:absolute;top:0;left:0;width:12px;height:12px;border-radius:50%;content:'ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¾ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢';text-align:center;opacity:-10;color:black;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;background:#5a266e;}
.slick-dots li.slick-active button:before{opacity:1.0;color:black;}
.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent;}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0;}
.slick-list:focus{outline:none;}
.slick-list.dragging{cursor:pointer;cursor:hand;}
.slick-slider .slick-track,
.slick-slider .slick-list{-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
.slick-track{position:relative;top:0;left:0;display:block;}
.slick-track:before,
.slick-track:after{display:table;content:'';}
.slick-track:after{clear:both;}
.slick-loading .slick-track{visibility:hidden;}
.slick-slide{display:none;float:left;height:100%;min-height:1px;}
[dir='rtl'] .slick-slide{float:right;}
.slick-slide img{display:block;}
.slick-slide.slick-loading img{display:none;}
.slick-slide.dragging img{pointer-events:none;}
.slick-initialized .slick-slide{display:block;}
.slick-loading .slick-slide{visibility:hidden;}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent;}
.slick-arrow.slick-hidden{display:none;}
.left{float:left;}
.right{float:right;}
.clear{clear:both;}
.hidden{display:none;}
.hideText{text-indent:100%;white-space:nowrap;overflow:hidden;}
.rounded8top{-moz-border-radius:8px 8px 0 0;-webkit-border-radius:8px 8px 0 0;-khtml-border-radius:8px 8px 0 0;border-radius:8px 8px 0 0;}
.rounded10{-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px;border-radius:10px;}
.shadow{-moz-box-shadow:0px 0px 3px 1px #ddd;-webkit-box-shadow:0px 0px 3px 1px #ddd;box-shadow:0px 0px 3px 1px #ddd;}
.spinner{width:100%;height:120px;background:url('../promo/css/img/spinner.gif') center center no-repeat;}
#noticeBar{text-align:center;font-size:18px;background-color:#333;font-weight:bold;color:#ccc;padding:10px 0;}
#cvvTip{font-family:Arial, Helvetica, sans-serif;}
#cvvTip h3{font-weight:bold;font-size:12px;color:#333;}
#cvvTip p{font-size:12px;color:#333;padding:10px 0;}
.footer{margin:20px auto;padding-top:23px;padding-bottom:6px;width:100%;max-width:none;font-family:Arial;font-size:12pt;text-align:center;color:#887070;border-top:1px solid #e7e7ce;}
.footer ul{margin:0;padding:0;}
.footer ul li{float:none;display:inline;margin:0;padding:0 2px;font-weight:normal;font-size:17px;color:#887070;line-height:17px;}
.footer a{background:none;width:auto;height:auto;display:inline;text-transform:capitalize;font-weight:normal;color:#887070;text-decoration:none;font-size:17px;font-family:'Open Sans', sans-serif;}
.footer p{text-align:center;padding:0;padding-top:7px;line-height:normal;}
.footer p:last-child{}
form .fields{}
form .fields .label{font-family:'Open Sans', sans-serif;line-height:31px;width:100px;font-size:16px;float:left;color:#4d6169;text-align:right;letter-spacing:-0.2px;width: 92px;margin-right:5px;margin-left:4px;}
form .fields .input input{font-family:'Open Sans', sans-serif;width:185px;height:31px;background-color:#FFF;outline:none;padding-left:4px;border:1px solid #dfdfdf;font-size:14px;color:#000000;float:right;margin:0 0 6px 0;text-align:left;line-height:37px;}
form .fields .input select{font-family:'Open Sans', sans-serif;width: 185px;height:33px;line-height:35px;background-color:#FFF;outline:none;padding-left:4px;border:1px solid #dfdfdf;font-size:14px;color:#000000;float:right;margin:0 0 6px 0;text-align:left;line-height:37px;}
/* form .fields .input input.error{border:1px solid orange;background:url('img/error-input.png') center right no-repeat #fff;}
form .fields .input select.error{border:1px solid orange;}
form .fields .input input.valid{border:1px solid green;background:url('img/tick-input.png') no-repeat center right #fff;}
form .fields .input select.valid{border:1px solid green;background:url('img/tick-select.png') no-repeat center right #fff;} */
form .fields .spacer{font-size:1px;line-height:1px;height:7px;}
form .methods{}
form .cards{overflow:hidden;margin:0;padding:0;list-style:none;display:inline-block;}
form .cards li{-webkit-transition:all .2s;-moz-transition:all .2s;-ms-transition:all .2s;-o-transition:all .2s;transition:all .2s;background-image:url('../promo/css/img/cards-curved-32px.png');background-position:0 0;float:left;height:32px;margin-right:8px;text-indent:-9999px;width:51px}
form .cards li:last-child{margin-right:0}
form .cards .visa.off{background-position:0 32px}
form .cards .visa_electron{background-position:255px 0}
form .cards .visa_electron.off{background-position:255px 32px}
form .cards .mastercard{background-position:204px 0}
form .cards .mastercard.off{background-position:204px 32px}
form .cards .maestro{background-position:153px 0}
form .cards .maestro.off{background-position:153px 32px}
form .cards .discover{background-position:102px 0}
form .cards .discover.off{background-position:102px 32px}
form .cards .amex{background-position:51px 0}
form .cards .amex.off{background-position:51px 32px}
form .fields .input select[name=cc_year],
form .fields .input select[name=cc_month]{width:93px;}
form .fields .input select[name=cc_month]{margin-left:5px;}
form .fields .input input[name=cc_cvv]{width:85px;float:left;}
form .fields a.cvvTip{font-size:14px;margin-left:8px;line-height:31px;color:#58aa00;}
form .terms{padding-bottom:20px;}
form .terms .question{font-size:15px;color:#333;text-align:center;}
form .terms .question input{margin-right:5px;margin-left:10px;}
form .terms .term{font-size:12px;color:#333;}
form .terms .term input{margin-right:3px;margin-left:5px;margin-top:1px;vertical-align:top;}
form .button{text-align:center;}
#noticeBar{display:none;padding:10px 0;}
#noticeBar .content{margin:0 auto;width:1000px;border:3px dashed red;background:#fff;text-align:center;padding:20px;}
#noticeBar h3{font-family:Arial, Helvetica, sans-serif;font-size:14px;text-align:left;line-height:1.2em;color:#000;}
#noticeBar h3 span{color:#f00;}
.form-position{margin:2px auto 0 auto;}
.submit{margin-left:16px;}
.s4hding span, .s5hding span, .s6hding span, .s7hding span {
    font-size:  60px;
}
p.s4txt52 {
    padding: 11px 0 0 178px;
}

p.s4txt53 {
    padding: 0 0 0 176px;
}