@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&display=swap');
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary{display:block;}
audio,
canvas,
video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html{background:#fff;color:#000;font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
html,
button,
input,
select,
textarea{font-family:sans-serif;}
body{margin:0;}
a:focus{outline:thin dotted;}
a:active,
a:hover{outline:0;}
h1{font-size:2em;margin:0.67em 0;}
h2{font-size:1.5em;margin:0.83em 0;}
h3{font-size:1.17em;margin:1em 0;}
h4{font-size:1em;margin:1.33em 0;}
h5{font-size:0.83em;margin:1.67em 0;}
h6{font-size:0.67em;margin:2.33em 0;}
abbr[title]{border-bottom:1px dotted;}
b,
strong{font-weight:bold;}
blockquote{margin:1em 40px;}
dfn{font-style:italic;}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}
mark{background:#ff0;color:#000;}
p,
pre{margin:1em 0;}
code,
kbd,
pre,
samp{font-family:monospace, serif;_font-family:'courier new', monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,
q:after{content:'';content:none;}
small{font-size:80%;}
sub,
sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
dl,
menu,
ol,
ul{margin:1em 0;}
dd{margin:0 0 0 40px;}
menu,
ol,
ul{padding:0 0 0 40px;}
nav ul,
nav ol{list-style:none;list-style-image:none;}
img{border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
form{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}
button,
input,
select,
textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,
input{line-height:normal;}
button,
select{text-transform:none;}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible;}
button[disabled],
html input[disabled]{cursor:default;}
input[type="checkbox"],
input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,
input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
.mfp-bg{top:0;left:0;width:100%;height:100%;z-index:1042;overflow:hidden;position:fixed;background:#0b0b0b;opacity:0.8;filter:alpha(opacity=80);}
.mfp-wrap{top:0;left:0;width:100%;height:100%;z-index:1043;position:fixed;outline:none !important;-webkit-backface-visibility:hidden;}
.mfp-container{text-align:center;position:absolute;width:100%;height:100%;left:0;top:0;padding:0 8px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.mfp-container:before{content:'';display:inline-block;height:100%;vertical-align:middle;}
.mfp-align-top .mfp-container:before{display:none;}
.mfp-content{position:relative;display:inline-block;vertical-align:middle;margin:0 auto;text-align:left;z-index:1045;}
.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content{width:100%;cursor:auto;}
.mfp-ajax-cur{cursor:progress;}
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close{cursor:-moz-zoom-out;cursor:-webkit-zoom-out;cursor:zoom-out;}
.mfp-zoom{cursor:pointer;cursor:-webkit-zoom-in;cursor:-moz-zoom-in;cursor:zoom-in;}
.mfp-auto-cursor .mfp-content{cursor:auto;}
.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter{-webkit-user-select:none;-moz-user-select:none;user-select:none;}
.mfp-loading.mfp-figure{display:none;}
.mfp-hide{display:none !important;}
.mfp-preloader{color:#cccccc;position:absolute;top:50%;width:auto;text-align:center;margin-top:-0.8em;left:8px;right:8px;z-index:1044;}
.mfp-preloader a{color:#cccccc;}
.mfp-preloader a:hover{color:white;}
.mfp-s-ready .mfp-preloader{display:none;}
.mfp-s-error .mfp-content{display:none;}
button.mfp-close, button.mfp-arrow{overflow:visible;cursor:pointer;background:transparent;border:0;-webkit-appearance:none;display:block;outline:none;padding:0;z-index:1046;-webkit-box-shadow:none;box-shadow:none;}
button::-moz-focus-inner{padding:0;border:0;}
.mfp-close{width:44px;height:44px;line-height:44px;position:absolute;right:0;top:0;text-decoration:none;text-align:center;opacity:0.65;filter:alpha(opacity=65);padding:0 0 18px 10px;color:white;font-style:normal;font-size:5vh;font-family:Arial, Baskerville, monospace;}
.mfp-close:hover, .mfp-close:focus{opacity:1;filter:alpha(opacity=100);}
.mfp-close:active{top:1px;}
.mfp-close-btn-in .mfp-close{color:#333333;}
.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close{color:white;right:-6px;text-align:right;padding-right:6px;width:100%;}
.mfp-counter{position:absolute;top:0;right:0;color:#cccccc;font-size:12px;line-height:18px;}
.mfp-arrow{position:absolute;opacity:0.65;filter:alpha(opacity=65);margin:0;top:50%;margin-top:-55px;padding:0;width:90px;height:110px;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
.mfp-arrow:active{margin-top:-54px;}
.mfp-arrow:hover, .mfp-arrow:focus{opacity:1;filter:alpha(opacity=100);}
.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a{content:'';display:block;width:0;height:0;position:absolute;left:0;top:0;margin-top:35px;margin-left:35px;border:medium inset transparent;}
.mfp-arrow:after, .mfp-arrow .mfp-a{border-top-width:13px;border-bottom-width:13px;top:8px;}
.mfp-arrow:before, .mfp-arrow .mfp-b{border-top-width:21px;border-bottom-width:21px;opacity:0.7;}
.mfp-arrow-left{left:0;}
.mfp-arrow-left:after, .mfp-arrow-left .mfp-a{border-right:17px solid white;margin-left:31px;}
.mfp-arrow-left:before, .mfp-arrow-left .mfp-b{margin-left:25px;border-right:27px solid #3f3f3f;}
.mfp-arrow-right{right:0;}
.mfp-arrow-right:after, .mfp-arrow-right .mfp-a{border-left:17px solid white;margin-left:39px;}
.mfp-arrow-right:before, .mfp-arrow-right .mfp-b{border-left:27px solid #3f3f3f;}
.mfp-iframe-holder{padding-top:40px;padding-bottom:40px;}
.mfp-iframe-holder .mfp-content{line-height:0;width:100%;max-width:900px;}
.mfp-iframe-holder .mfp-close{top:-40px;}
.mfp-iframe-scaler{width:100%;height:0;overflow:hidden;padding-top:56.25%;}
.mfp-iframe-scaler iframe{position:absolute;display:block;top:0;left:0;width:100%;height:100%;box-shadow:0 0 8px rgba(0, 0, 0, 0.6);background:black;}
img.mfp-img{width:auto;max-width:100%;height:auto;display:block;line-height:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:40px 0 40px;margin:0 auto;}
.mfp-figure{line-height:0;}
.mfp-figure:after{content:'';position:absolute;left:0;top:40px;bottom:40px;display:block;right:0;width:auto;height:auto;z-index:-1;box-shadow:0 0 8px rgba(0, 0, 0, 0.6);background:#444444;}
.mfp-figure small{color:#bdbdbd;display:block;font-size:12px;line-height:14px;}
.mfp-figure figure{margin:0;}
.mfp-bottom-bar{margin-top:-36px;position:absolute;top:100%;left:0;width:100%;cursor:auto;}
.mfp-title{text-align:left;line-height:18px;color:#f3f3f3;word-wrap:break-word;padding-right:36px;}
.mfp-image-holder .mfp-content{max-width:100%;}
.mfp-gallery .mfp-image-holder .mfp-figure{cursor:pointer;}
@media screen and (max-width:800px) and (orientation:landscape), screen and (max-height:300px){.mfp-img-mobile .mfp-image-holder{padding-left:0;padding-right:0;}
.mfp-img-mobile img.mfp-img{padding:0;}
.mfp-img-mobile .mfp-figure:after{top:0;bottom:0;}
.mfp-img-mobile .mfp-figure small{display:inline;margin-left:5px;}
.mfp-img-mobile .mfp-bottom-bar{background:rgba(0, 0, 0, 0.6);bottom:0;margin:0;top:auto;padding:3px 5px;position:fixed;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.mfp-img-mobile .mfp-bottom-bar:empty{padding:0;}
.mfp-img-mobile .mfp-counter{right:5px;top:3px;}
.mfp-img-mobile .mfp-close{top:0;right:0;width:35px;height:35px;line-height:35px;background:rgba(0, 0, 0, 0.6);position:fixed;text-align:center;padding:0;}
}
@media all and (max-width:900px){.mfp-arrow{-webkit-transform:scale(0.75);transform:scale(0.75);}
.mfp-arrow-left{-webkit-transform-origin:0;transform-origin:0;}
.mfp-arrow-right{-webkit-transform-origin:100%;transform-origin:100%;}
.mfp-container{padding-left:6px;padding-right:6px;}
}
.mfp-ie7 .mfp-img{padding:0;}
.mfp-ie7 .mfp-bottom-bar{width:600px;left:50%;margin-left:-300px;margin-top:5px;padding-bottom:5px;}
.mfp-ie7 .mfp-container{padding:0;}
.mfp-ie7 .mfp-content{padding-top:44px;}
.mfp-ie7 .mfp-close{top:0;right:0;padding-top:0;}
.mfp-close-ok{background:none repeat scroll 0 0 #444444 !important;border:1px solid #CCCCCC !important;border-radius:14px;box-shadow:0 2px 2px rgba(0, 0, 0, 0.8) !important;color:#FFFFFF !important;font-size:2vh;height:auto;width:auto;margin:0 auto;line-height:1;padding:1vh 4vh !important;position:inherit;text-shadow:1px 1px 0 #000000;}
.white-popup{font-family:Arial, Helvetica, sans-serif;font-size:2vh;font-weight:normal;position:relative;background:#FFF;color:#000;padding:20px;width:auto;max-width:860px;margin:20px auto;border-radius:5px;font-weight:normal;}
.white-popup.ic-loading{max-width:300px;text-align:center;font-size:2vh;font-weight:bold;}
.white-popup.ic-loading img{display:inline;}
.white-popup .ic-modal-title{border-bottom:1px solid #ccc;font-size:2.5vh;font-weight:bold;padding-bottom:5px;}
.white-popup .ic-modal-content{}
.white-popup .ic-modal-content ul{padding:0 0 0 40px;margin:0;}
.white-popup .ic-modal-content p{margin:3vh 0;font-size:2.2vh;}
.white-popup > h1{line-height:5.5vh;}
.white-popup > p{margin:3vh 0;}
.white-popup > p > strong{font-weight:bold;}
.content.white-popup p{text-align:justify;}
.content.white-popup h1{text-align:center;color:#333;font-size:3vh;margin:0.5em 0;font-weight:bold;text-transform:uppercase;background:none;border:none;padding:0;}
.content.white-popup h2{font-size:2.5vh;margin:1vh 0;}
.ic-side-by-side{text-align:center;}
.ic-side-by-side button{display:inline;margin:0 2vh;}
.ic-exitpop{position:relative;width:auto;max-width:860px;margin:0 auto;}
.ic-exitpop img{width:100%;}
@charset "utf-8";body{padding:0;margin:0;font-family:'Open Sans', sans-serif;font-size:22px;line-height:26px;-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;font-smoothing:antialiased;}
.container{width:640px;margin:0 auto;padding:0;}
.clearall{clear:both;font-size:1px;line-height:1px;height:1px;}
#section-one{background:url(img/section1.jpg) center top no-repeat;width:100%;height:892px;margin:0 auto;padding:0;position:relative;}
.sec-hight{height:714px;}
.logo{position:absolute;top: 9px;left:337px;}
.as-seen{position:absolute;top:283px;left:237px;}
.usa{position:absolute;top:362px;left:47px;}
.s1-txt1{font-family:'open sans';font-size:24px;line-height:46.84px;text-align:left;color:#2c529d;letter-spacing:-0.7px;margin:0;padding: 82px 0 0 228px;}
.s1-txt2{font-family:'open sans';font-weight: 700;text-transform:uppercase;font-size:50px;line-height:47px;text-align:left;letter-spacing:-2px;color:#f47a30;margin:0;padding:0px 0 0 216px;}
.s1-txt2 span{color:#5a266e;}
ul.s1-txt3{margin:0 0 0 0;padding:20px 0 0 222px;}
ul.s1-txt3 li{display:inline-block;width:110px;list-style:none;font-family:'open sans';text-transform:uppercase;font-size:25px;line-height:24px;text-align:left;letter-spacing:4px;color:#fff;margin:0;padding:0 33px 0 0;}
ul.s1-txt3 li:nth-child(3){padding:0 0 0 9px;}
ul.s1-list{margin:0 0 0 0;padding:81px 0 0 255px;}
ul.s1-list li{background:url(img/listimg.png) left top no-repeat;font-size:24px;line-height:30px;color:#2e4555;width:344px;list-style:none;letter-spacing:-0.6px;margin:0 0 0 0;padding:0 0 22px 50px;}
ul.s1-list li:nth-child(2){padding:0 0 0 50px;}
ul.s1-list li:nth-child(3){padding: 0 0 14px 50px;margin:25px 0 0 0;}
ul.s1-list li:nth-child(4){padding:0 0 0 50px;margin: 21px 0 20px 0;}
ul.s1-list li span{font-weight:bold;color:#482556;font-size:24px;}
.s1-txt4{height:24px;font-weight:bold;font-size: 18px;line-height:24px;text-align:left;color:#fff;text-transform:uppercase;letter-spacing: -0.5px;margin:0;padding: 6px 0 0 223px;}
ul.s1-list2{margin:13px 0 0 189px;padding:0 0 0 0;}
ul.s1-list2 li{display:inline-block;background:url(img/plus.png) left 8px no-repeat;font-family:'open sans';font-size:14.56px;line-height:12.97px;letter-spacing:2px;color:#713a86;text-align:center;width:107px;text-transform:uppercase;list-style:none;margin:0 0 0 0;padding:0 9px 0 17px;}
ul.s1-list2 li span{letter-spacing:-0.4px;font-family:'Open Sans';font-weight: 700;color:#313131;text-align:left;font-size:28.5px;line-height:33.97px;}
ul.s1-list2 li:nth-child(1){background:none;}
ul.s1-list2 li:nth-child(2){padding:0 7px 0 18px;}
ul.s1-list2 li:nth-child(3){width:150px;padding:0 0 0 20px;}
#section-two{height:930px;margin:0 auto;padding:0 0 0 0;}
.s2-txt1{font-family:'Open Sans';font-weight: 700;font-size:38px;line-height:40px;text-align:center;letter-spacing:-0.6px;color:#050404;text-transform:uppercase;margin:0 auto;padding:20px 0 0 0;}
.s2-txt1 span{font-family:'Open Sans';font-size:48px;color:#ff0000;font-weight: 700}
.s2-txt2{font-size:24px;line-height:30px;text-align:center;color:#282828;letter-spacing:-0.4px;margin:0 auto;padding:20px 1% 0 1%;}
.both-part{margin:0 0 0 0;padding:36px 0 0 0;}
.s2-lft, .s2-rgt{display:inline-block;float:left;}
.s2-lft{width:191px;}
.s2-img1{padding:0 0 0 16px;}
.s2-rgt{width:446px;}
.s2-lft2, .s2-rgt2{display:inline-block;float:left;margin:10px 0 0 0;}
.s2-lft2{width:191px;}
.s2-img1{padding:0 0 0 16px;}
.s2-rgt2{width:446px;}
.s2-rgt-txt{font-weight:bold;font-size:24px;line-height:30px;text-align:left;color:#282828;letter-spacing:-0.4px;margin:0 auto;padding:40px 1% 0 1%;}
.s2-rgt2-txt{font-weight:bold;font-size:24px;line-height:30px;text-align:right;color:#282828;letter-spacing:-0.4px;margin:0 auto;padding:40px 1% 0 1%;}
#section-three{height: 1076px;margin:0 auto;padding:0 0 0 0;position:relative;}
.s3-txt1{font-family:'open sans';font-weight: 700;font-size:38px;line-height:41px;text-align:left;letter-spacing:-2px;color:#5a266e;text-transform:uppercase;margin:0 auto;padding:40px 0 0 3%;}
.s3-txt1 span{font-family:'open sans';font-weight: 700;font-size: 48px;line-height:45px;color:#f47a30;}
.s3-line{float:left;padding:0 0 0 0;margin:1% 0 0 3%;}
.s3-txt2{font-size:24px;line-height:30px;text-align:left;color:#282828;letter-spacing:-0.4px;margin:0 0 0 0;width:570px;padding:40px 0 0 3%;height: 387px;}
.s3-bg{background:url(img/s3-mid-bg.png) center top no-repeat;height: 150px;margin: 0px 0 0 0;}
.s3-txt3{text-transform:uppercase;font-size: 37px;line-height:40px;text-align:left;color:#fff;letter-spacing:-1.5px;margin:0 0 0 0;padding:10px 0 0 2%;}
.s3-modal{position:absolute;top: 485px;right: 0;}
.seal{margin:10px 0 0 110px;}
.s3-txt4{font-style:italic;font-size:24px;line-height: 30px;font-weight:600;text-align:left;color:#232323;letter-spacing: -1.6px;margin:0 0 0 0;width:368px;padding:25px 0 0 3%;}
.order-bg{height:113px;background:#f7c300;margin:34px 0 0 0;}
.order-bg-txt{font-size:24px;line-height:30px;font-weight:bold;text-align:center;color:#262626;letter-spacing:-0.4px;margin:0 auto;padding: 23px 0 0 0;}
.order-bg-txt2{padding:23px 0 0 0;}
.order-bg-txt span{text-transform:uppercase;font-size: 32px;}
#section-four{height:1620px;margin:0 auto;padding:0 0 0 0;position:relative;}
.s4-txt1, .s4-txt2{font-weight:600;font-size:22px;line-height:28px;text-align:left;color:#303030;letter-spacing:-0.4px;margin:0 0 0 0;padding: 24px 1% 0 3%;}
.s4-txt2{width:400px;padding:25px 1% 0 38%;height: 708px;}
.s4-txt1 span, .s4-txt2 span{color:#e66120;}
.doc{position:absolute;top:314px;left:0px;}
.seal2{position:absolute;top:460px;left:127px;}
.blood-img{position:absolute;top:538px;left:225px;}
.orange-bg{position:absolute;top:754px;left:0;}
.orange-bg-txt{position:absolute;top:782px;left:2%;font-size:22px;line-height:28px;letter-spacing:-1px;text-align:left;color:#fff;font-weight:600;}
.s4-txt3{font-weight:bold;font-size:24px;line-height: 25px;text-align:left;color:#0e0e0e;width:256px;text-transform:uppercase;letter-spacing:-0.4px;margin:0 0 0 0;padding: 0px 1% 0 2%;height: 223px;}
.s4-txt3 span{color:#e66120;}
.s4-img{position:absolute;top:1049px;right:10px;}
.s4-txt4{font-weight:bold;font-size: 22px;line-height:24px;text-align:left;color:#e66120;width:283px;text-transform:uppercase;letter-spacing: -0.75px;font-style:italic;margin:0 0 0 0;padding:34px 1% 0 9%;}
.step1{position:absolute;top:1254px;left:0;}
.step2{position:absolute;top:1359px;left:0;}
#section-five{height:2540px;margin:0 auto;padding:0 0 0 0;}
ul.sec5-list{margin:0 auto;padding:0 0 0 0;}
ul.sec5-list li{font-size:24.2px;line-height:30.2px;color:#2d2d2d;text-align:center;list-style:none;margin:0 auto;padding:10px 4% 10px 4%;}
ul.sec5-list li span{font-weight:bold;text-transform:uppercase;font-size:24.2px;line-height:65px;color:#5a266e;}
.seal-bg{position:relative;height:144px;margin:0 0 0 0;}
.s5seal{position:absolute;top:10px;left:10px;}
.seal-txt1{font-size:22px;text-align:left;color:#f47a30;line-height:28px;font-weight:bold;letter-spacing:-0.6px;font-style:italic;margin:0 0 0 0;padding:23px 20px 0 146px;}
.seal-txt1 span{color:#5a266e;}
#section-six{height:2190px;margin:0 auto;padding:0 0 0 0;}
ul.sec6-list{margin:0 auto;padding:50px 0 0 0;}
ul.sec6-list li{font-size:24.2px;line-height:30px;color:#2d2d2d;text-align:center;list-style:none;margin:0 auto;padding:10px 4% 10px 4%;}
ul.sec6-list li span{font-weight:bold;text-transform:uppercase;font-size:24px;line-height:50px;color:#266e6d;}
.s6-last-bg{background:url(../../promo/m/images/s6-last-bg.jpg) center top no-repeat;height:219px;margin:-18px 0 0 0;}
.s6-last-bg-txt{font-size:20px;line-height:26px;color:#353535;text-align:left;padding:96px 0 0 3%;letter-spacing:-0.4px;margin:0;}
.s6-last-bg-txt span{text-transform:uppercase;font-size:30px;font-weight:bold;color:#f47a30;line-height:35px;}
#section7{background:#ffffff url(img/section7.jpg) center top no-repeat;height:778px;}
.s7-txt1{font-family:'open sans';font-size:38px;line-height:41px;text-align:center;letter-spacing:-2px;color:#5a266e;text-transform:uppercase;margin:0 auto;padding:40px 0 0 3%;}
.s7-txt1 span{font-family:'open sans'-Bold'';font-weight: 700;font-size:48px;line-height:50px;color:#f47a30;}
.s7-line{padding:0 0 0 0;margin:2% 0 0 3%;}
.s7-txt2{font-weight:bold;font-size:24px;line-height:30px;text-align:center;color:#303030;letter-spacing:-0.4px;margin:0 auto;padding:20px 3% 0 3%;}
.s7-txt2 span{color:#e66120;}
.s7-slid-img{margin:0 auto;padding:18px 0 0 0;}
.sec7-text3{font-size:24px;line-height:30px;color:#161616;text-align:center;font-style:italic;margin:0 auto;width:568px;padding:19px 0 0 0;}
.stars{margin:0 auto;padding:15px 0 10px 0;}
.sec7-text4{font-size:22px;font-weight:bold;color:#f47a30;text-align:center;margin:0 auto;padding:15px 0 0 0;}
.sec7-text5{font-size:22px;text-align:center;line-height:26px;color:#b2b2b2;margin:0 auto;}
#section8{background:url(img/sectiom8.jpg) center top no-repeat;height:855px;position:relative;}
.s8-logo{position:absolute;top:55px;left:220px;width:270px;}
.s8-usa{position:absolute;top:368px;left:47px;}
.s8-txt1{font-family:'open sans';font-size:24px;line-height:46.84px;text-align:left;color:#2c529d;letter-spacing:-0.5px;margin:0;padding: 144px 0 0 243px;}
.s8-txt2{font-family:'open sans';font-weight: 700;text-transform:uppercase;font-size:48px;line-height:41px;text-align:left;letter-spacing:-2px;color:#f47a30;margin:0;padding:0px 0 0 234px;}
.s8-txt2 span{color:#5a266e;}
ul.s8-list{margin:0 0 0 0;padding:40px 0 0 255px;}
ul.s8-list li{background:url(img/listimg.png) left top no-repeat;font-size:24px;line-height:30px;color:#2e4555;width:344px;list-style:none;letter-spacing:-0.6px;margin:0 0 0 0;padding:0 0 22px 50px;}
ul.s8-list li:nth-child(2){padding:0 0 0 50px;}
ul.s8-list li:nth-child(3){padding:0 0 0 50px;margin:25px 0 0 0;}
ul.s8-list li:nth-child(4){padding:0 0 0 50px;margin:31px 0 0 0;}
ul.s8-list li span{font-weight:bold;color:#482556;font-size:26px;}
.s8-txt4{font-weight:bold;font-size: 18px;line-height:24px;text-align:left;color:#fff;text-transform:uppercase;letter-spacing:-0.5px;margin:0;padding: 67px 0 0 200px;}
#section-nine{height:1280px;margin:0 auto;position:relative;padding:0 0 0 0;}
.fixbox{position:fixed;bottom:0;left:auto;width:640px;z-index:990;}
.stick_bar{background:#5a266e;background-size:55%;height:149px;margin:-10px auto 0 auto;position:relative;}
.bottle{position:absolute;left: -20px;top: -155px;width: 245px;}
.btn,.security2{float:right;margin:9px 11px 0 20px;}
.security2{margin:7px 150px 0 0;}
.legal{display:none;background:black;margin-top:-4px;color:white;text-align:center;padding:10px 0px;}
.footer{height:80px;background:#fff;width:100%;}
.ftrtxt{font-size:17px;color:#887070;text-align:center;line-height:28px;padding:20px 20px 0 20px;margin:0;}
.ftrtxt a, .ftrtxt a:hover{color:#887070;text-decoration:none;}
.spng-hd{height:139px;}
.sping-logo{float:left;width:128px;margin:14px 0 0 15px;}
.sping-us-flag{float:right;margin:19px 13px 0 0;}
.brd-btm{border-bottom:1px solid #d1d1d1;margin:15px 0 0 0;}
.brd-top{border-top:1px solid #d1d1d1;margin:15px 0 0 0;}
.shipping-hd{display:block;margin:0 auto;padding:20px 0 0 0;}
div#trialsec1{background:none;height:auto;width:100%;margin:0 auto;padding:0;}
.trialsec1img{width:100%;height:auto;display:block;margin:0 auto;}
div#trialsec2{background:none;height:auto;width:100%;margin:0 auto;padding:0;}
.trial-top{padding:0% 0 3% 0;}
.payment-top{padding:3% 0 4% 0;text-align:center;margin:0;}
.trial-toptxt1, .trial-toptxt2{color:#713a86;font-size:35px;font-weight:700;line-height:50px;text-align:center;margin:-2% auto 0 auto;padding:4% 6% 0 4%;}
.trial-toptxt1 span{font-weight:400;line-height:25px;font-size:22px;}
.trial-toptxt2{font-weight:400;padding:1% 6% 0 6%;}
.trial-toptxt2 span{font-weight:600;}
.detailbox{height:264px;background:#fff;display:table;margin:3% auto 0 auto;width:100%;}
.lftbox, .rgtbox{float:left;display:inline-block;}
.lftbox{width:249px;margin-right:2%;}
.lftbtl{margin:8% auto 0 25%;display:block;}
.rgtbox{width:59%;padding:0;}
.rgtboxtxt1{font-size:24px;color:#5a266e;text-align:left;line-height:34px;text-transform:uppercase;font-weight:bold;padding:7% 0 2% 6%;margin:0;}
.rgtboxtxt1 span{font-size:19px;text-transform:none;font-weight:normal;line-height:22px;}
.brdr-2{width:337px;margin:15px 0 0 19px;border-bottom:1px solid #dedede;}
ul.rgtlist{padding:4% 0 2% 6%;margin:0;display:table;width:92%;}
ul.rgtlist li{float:left;display:inline-block;font-weight:300px;font-size:22px;color:#333;text-align:right;line-height:40px;padding:0 0;}
ul.rgtlist li.one{width:70%;text-align:left;}
ul.rgtlist li.two{width:25%;}
ul.rgtlist li.one span, ul.rgtlist li.two span{color:#38bc5b;font-size:21px;font-weight:bold;}
input[type=checkbox]{zoom:1.5;}
.membership-box{margin:0 0 15% 7%;}
.chkbx, .membership{display:inline-block;float:left;width:32px;margin:5% 0 5% 0;padding:0;}
.chkbx{vertical-align:text-top;margin:2% 0 5% 0;}
.membership{font-size:19px;color:#504f4f;line-height:24px;width:82%;padding:0 0 0 0;margin:0;}
.delivery{width:100%;margin:9px auto -4px auto;display:block;padding:0 0;}
.trial-logo img{width:33%;}
.trialform{margin:0 auto;display:table;background:#ffffff;width:100%;}
.trialfrmtopimg{width:100%;margin:0 auto;display:block;}
.trialfrmmid{background-size:100%;display:table;width:100%;}
.trialbtmbox{width:95%;margin:1% auto;padding:0 2.5% 0 2.5%;}
.submit{width:89.24%;display:block;margin:4% auto;cursor:pointer;border:none;outline:none;height:auto;}
.btn-box{background:#0b3300;width:100%;margin:10% auto 0 auto;padding:0;}
.trialsubmit{width:auto;display:block;margin:2% auto 2% auto;cursor:pointer;border:none;outline:none;height:auto;}
.triallock{width:auto;margin:1.6% auto 2% auto;display:block;}
.trialbtm{width:44.53%;margin:0 auto;display:block;}
.what{width:62.34%;margin:-21px 3px;}
.condition{font-size:18px;line-height:20px;color:#414141;text-align:left;padding:3% 3%;}
.frmelmnts2, .formbox{margin:2% 0 1% 0;clear:both;padding-left:2.5%;}
.sameas{font-size:20px;color:#5a5a5a;text-align:left;line-height:23px;padding:1% 0 2% 8%;margin:0 0 0 0;}
.card{float:right;width:20.31%;margin:0 9% 1% 0;padding:0;display:block;}
input[type="checkbox"]{width:16px;height:15px;margin:3.5% 1% 0 0;}
.frmelmnts1{float:left;display:inline-block;width:48%;}
.frmelmnts2 label, .frmelmnts1 label{width:100%;font-size:21px;color:#000;text-align:left;line-height:39px;margin-right:2%;}
.frmelmnts2 input, .frmelmnts2 select, .frmelmnts1 input, .frmelmnts1 select{width:93.3%;height:28px;line-height:normal;padding:2% 2% 2% 1%;border-radius:6px;font-size:20px;color:#000;text-align:left;border:1px solid #b2b2b2;margin:0 auto;}
.frmelmnts2 select{width:97%;height:52px;}
.frmelmnts2 select.short{font-style:normal;width:46.7%;margin-right:2%;line-height:64px;height:60px;}
.frmelmnts2 input.short{width:43%;margin-right:2%;}
.frmelmnts1 input, .frmelmnts1 select{padding:5.5% 2%;margin:0 0 10px 0;}
.chktxt{font-size:16px;color:#333;text-align:left;line-height:20px;padding:30px 7% 0 7%;margin:0;}
.chktxt a, .chktxt a:hover{color:#333;}
.upbtm{height:231px;background:#5a266e;padding:0% 0 2% 0;margin-top:3%;}
.pay-top-txt{font-weight:bold;font-size:24px;line-height:30px;color:#5a5a5a;height:94px;text-align:left;margin:0 0 0 0;padding:20px 70px 0 3%;}
.pay-top-txt span{color:#66cc33;}
.brdr{border-bottom:1px solid #d6d6d6;margin:20px;}
.scure-lock{text-align:center;font-size:17px;margin:o auto;font-family:'Open Sans', sans-serif;color:#fff;margin:0 auto;padding:8px 0 0 0;}
.what, .what a{font-size:19px;color:#58aa00;text-align:left;line-height:41px;text-decoration:underline;font-style:italic;}
.up-bg1{height:79px;background:#713a86;margin:30px 0 0 0;}
.up-txt1{font-size:27.55px;letter-spacing:1px;text-align:center;line-height:33px;color:#fff;margin:0 auto;font-weight:bold;text-transform:uppercase;padding:24px 0 0 0;}
.up-txt2{font-size:22px;text-align:center;line-height:26px;height:39px;color:#000;margin:0 auto;padding:18px 0 0 0;}
.upsell-box{background:url(../../promo/m/images/upsell-box.png) center top no-repeat;width:545px;height:266px;margin:45px auto 45px auto;padding:0 0 0 0;}
.up-lft, .up-rgt{display:inline-block;float:left;}
.up-lft{width:171px;padding:24px 0 0 13px;}
.up-rgt{width:333px;padding:0 0 0 0;}
.up-rgt-txt1{font-size:18.07px;text-align:left;font-weight:bold;line-height:20px;color:#ff9e1d;margin:0;padding:26px 0 0 67px;}
.up-rgt-txt2{text-transform:uppercase;font-size:26px;text-align:center;font-weight:bold;line-height:24px;color:#313131;margin:0 auto;padding:10px 0 0 8px;}
.up-rgt-txt3{font-size:20px;text-align:center;font-weight:600;line-height:24px;color:#313131;text-transform:uppercase;margin:0 auto;padding:6px 0 0 8px;}
.up-rgt-txt3 b, .up-rgt-txt3 span{color:#d03333;font-size:22px;}
.up-rgt-txt3 span{font-weight:normal;}
.up-rgt-txt4{font-size:20px;text-align:center;font-weight:600;line-height:24px;color:#5a5a5a;margin:0 auto;padding:12px 0 0 0;}
.up-rgt-txt4 span{font-size:22px;font-weight:bold;color:#ff9e1d;text-transform:uppercase;}
.up-rgt-txt5{font-size:30px;text-align:center;font-weight:bold;line-height:24px;color:#d03333;margin:0 auto;padding:10px 0 0 1px;}
.up-rgt-txt6, .up-rgt-txt6 a{text-decoration:underline;font-size:17px;text-align:center;line-height:20px;color:#868686;margin:0 auto;padding:10px 0 0 0;}
.cut{margin:0 0 -10px 0;}
.lead-scroll{position:absolute;bottom:-170px;left:50%;margin-left:-70px;padding:0px 0;width:140px;height:100px;z-index:100;}
.lead-scroll .arrows{width:60px;height:100px;position:absolute;left:50%;margin-left:-30px;bottom:142px;}
svg:not(:root){overflow:hidden;}
svg{max-height:100%;}
.lead-scroll .arrows path{stroke:#9e63b5;fill:transparent;stroke-width:4px;animation:arrow 2s infinite;-webkit-animation:arrow 2s infinite;}
.arrows path.a1{animation-delay:-1s;-webkit-animation-delay:-1s;}
.arrows path.a2{animation-delay:-.5s;-webkit-animation-delay:-.5s;}
.arrows path.a3{animation-delay:0s;-webkit-animation-delay:0s;}
div#bottomarrows{margin-bottom:180px;}
div#bottomarrows{margin-left:160px;}
@keyframes arrow{0%{opacity:0}
40%{opacity:1}
80%{opacity:0}
100%{opacity:0}
}
@-webkit-keyframes arrow{0%{opacity:0}
40%{opacity:1}
80%{opacity:0}
100%{opacity:0}
}
.pulse{animation-name:pulse;-webkit-animation-name:pulse;animation-duration:1.5s;-webkit-animation-duration:1.5s;animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite;}
@keyframes pulse{0%{transform:scale(0.9);opacity:0.9;}
50%{transform:scale(1);opacity:1;}
100%{transform:scale(0.9);opacity:0.9;}
}
@-webkit-keyframes pulse{0%{-webkit-transform:scale(0.95);opacity:0.7;}
50%{-webkit-transform:scale(1);opacity:1;}
100%{-webkit-transform:scale(0.95);opacity:0.7;}
}
.slick-slider{position:relative;display:block;box-sizing:border-box;width:600px;margin:0 auto;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent;}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0;}
.slick-list:focus{outline:none;border:none;}
.slick-list.dragging{cursor:pointer;cursor:hand;}
.slick-slider .slick-track,
.slick-slider .slick-list{-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
.slick-track{position:relative;top:0;left:0;display:block;}
.slick-track:before,
.slick-track:after{display:table;content:'';}
.slick-track:after{clear:both;}
.slick-loading .slick-track{visibility:hidden;}
.slick-slide{display:none;float:left;height:100%;min-height:1px;}
[dir='rtl'] .slick-slide{float:right;}
.slick-slide img{display:block;}
.slick-slide.slick-loading img{display:none;}
.slick-slide.dragging img{pointer-events:none;}
.slick-initialized .slick-slide{display:block;}
.slick-loading .slick-slide{visibility:hidden;}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent;}
.slick-arrow.slick-hidden{display:block;}
@charset 'UTF-8';.slick-loading .slick-list{background:#fff url('img/ajax-loader.gif') center center no-repeat;}
@font-face{font-family:'slick';font-weight:normal;font-style:normal;src:url('../../promo/m/css/fonts/slick.eot');src:url('../../promo/m/css/fonts/slick.eot?#iefix') format('embedded-opentype'), url('../../promo/m/css/fonts/slick.woff') format('woff'), url('../../promo/m/css/fonts/slick.ttf') format('truetype'), url('../../promo/m/css/fonts/slick.svg#slick') format('svg');}
.slick-prev, .slick-next{position:absolute;top:14%;display:block;width:35px;height:51px;padding:0;margin-top:0px;outline:none;border:none;z-index:9;cursor:pointer;}
.slick-prev{left:-2%;background:url(img/prev.png) no-repeat left center;}
.slick-next{right:-2%;background:url(img/next.png) no-repeat left center;}
.slick-slider{}
@charset "utf-8";.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;}
.animated.hinge{-webkit-animation-duration:2s;animation-duration:2s;}
.animated.bounceIn,
.animated.bounceOut{-webkit-animation-duration:.75s;animation-duration:.75s;}
.animated.flipOutX,
.animated.flipOutY{-webkit-animation-duration:.75s;animation-duration:.75s;}
.zoomIn{-webkit-animation-name:zoomIn;animation-name:zoomIn;animation-duration:1s;-webkit-animation-duration:1s;animation-timing-function:ease;-webkit-animation-timing-function:ease;visibility:visible !important;}
@-webkit-keyframes zoomIn{0%{opacity:0;-webkit-transform:scale3d(.3, .3, .3);transform:scale3d(.3, .3, .3);}
50%{opacity:1;}
}
@keyframes zoomIn{0%{opacity:0;-webkit-transform:scale3d(.3, .3, .3);transform:scale3d(.3, .3, .3);}
50%{opacity:1;}
}
.slideInUp{-webkit-animation-name:slideInUp;animation-name:slideInUp;animation-duration:.5s;-webkit-animation-duration:.5s;animation-timing-function:ease;-webkit-animation-timing-function:ease;visibility:visible !important;}
@keyframes slideInUp{0%{-webkit-transform:translate3d(0, 100%, 0);transform:translate3d(0, 100%, 0);visibility:visible;}
100%{-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
}
@-webkit-keyframes slideInUp{0%{-webkit-transform:translate3d(0, 100%, 0);transform:translate3d(0, 100%, 0);visibility:visible;}
100%{-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
}
ul.top-list li.list4{animation:fadein .5s;-moz-animation:fadein .5s;-webkit-animation:fadein .5s;-o-animation:fadein .5s;}
ul.top-list li.list4{animation:fadein 3.5s;-moz-animation:fadein 3.5s;-webkit-animation:fadein 3.5s;-o-animation:fadein 3.5s;}
ul.top-list li.list4{animation:fadein 6.5s;-moz-animation:fadein 6.5s;-webkit-animation:fadein 6.5s;-o-animation:fadein 6.5s;}
ul.top-list li.list4{animation:fadein 6.5s;-moz-animation:fadein 6.5s;-webkit-animation:fadein 6.5s;-o-animation:fadein 6.5s;}
@keyframes fadein{from{opacity:0;}
to{opacity:1;}
}
@-moz-keyframes fadein{from{opacity:0;}
to{opacity:1;}
}
@-webkit-keyframes fadein{from{opacity:0;}
to{opacity:1;}
}
@-o-keyframes fadein{from{opacity:0;}
to{opacity:1;}
}
.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn;animation-duration:.5s;-webkit-animation-duration:.5s;animation-timing-function:ease;-webkit-animation-timing-function:ease;visibility:visible !important;}
@-webkit-keyframes fadeIn{0%{opacity:0;}
100%{opacity:1;}
}
@keyframes fadeIn{0%{opacity:0;}
100%{opacity:1;}
}
.fadeIntwo{-webkit-animation-name:fadeIn;animation-name:fadeIn;animation-duration:1.5s;-webkit-animation-duration:1.5s;animation-timing-function:ease;-webkit-animation-timing-function:ease;visibility:visible !important;}
@-webkit-keyframes fadeIntwo{0%{opacity:0;}
100%{opacity:1;}
}
@keyframes fadeIntwo{0%{opacity:0;}
100%{opacity:1;}
}
.fadeInthree{-webkit-animation-name:fadeIn;animation-name:fadeIn;animation-duration:2.5s;-webkit-animation-duration:2.5s;animation-timing-function:ease;-webkit-animation-timing-function:ease;visibility:visible !important;}
@-webkit-keyframes fadeInthree{0%{opacity:0;}
100%{opacity:1;}
}
@keyframes fadeInthree{0%{opacity:0;}
100%{opacity:1;}
}
@-webkit-keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);}100%{opacity:1;-webkit-transform:none;transform:none;}}@keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);}100%{opacity:1;-webkit-transform:none;transform:none;}}.fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp;}
.left{float:left;}
.right{float:right;}
.clear{clear:both;}
.hidden{display:none;}
.hideText{text-indent:100%;white-space:nowrap;overflow:hidden;}
.rounded8top{-moz-border-radius:8px 8px 0 0;-webkit-border-radius:8px 8px 0 0;-khtml-border-radius:8px 8px 0 0;border-radius:8px 8px 0 0;}
.rounded10{-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px;border-radius:10px;}
.shadow{-moz-box-shadow:0px 0px 3px 1px #ddd;-webkit-box-shadow:0px 0px 3px 1px #ddd;box-shadow:0px 0px 3px 1px #ddd;}
.spinner{width:100%;height:120px;background:url('../../promo/m/images/spinner.gif') center center no-repeat;}
#noticeBar{text-align:center;font-size:18px;background-color:#333;font-weight:bold;color:#ccc;padding:10px 0;}
#cvvTip{font-family:Arial, Helvetica, sans-serif;}
#cvvTip h3{font-weight:bold;font-size:12px;color:#333;}
#cvvTip p{font-size:12px;color:#333;padding:10px 0;}
.footer{margin:0px auto;padding-top:0px;padding-bottom:6px;width:100%;max-width:none;font-size:12px;text-align:center;color:#887070;}
.footer ul{margin:0;padding:0;}
.footer ul li{float:none;display:inline;margin:0;padding:0 2px;font-weight:normal;font-size:17px;color:#887070;line-height:17px;}
.footer a{background:none;width:auto;height:auto;display:inline;text-transform:capitalize;font-weight:normal;color:#887070;text-decoration:none;font-size:17px;font-family:'Open Sans', sans-serif;}
.footer p{text-align:center;padding:0;padding-top:0px;line-height:normal;font-size:16px;margin:5px;}
.footer p:last-child{}
form .fields{;}
form .fields .label{}
form .fields .input input{line-height:normal;color:#000;}
form .fields .input select{line-height:normal;color:#000;}
form .fields .input input.error{border:1px solid orange;background:url('../../promo/m/css/img/error-input.png') center right no-repeat #fff;}
form .fields .input select.error{border:1px solid orange;}
form .fields .input input.valid{border:1px solid green;background:url('../../promo/m/css/img/tick-input.png') no-repeat center right #fff;}
form .fields .input select.valid{border:1px solid green;background:url('../../promo/m/images/tick-select.png') no-repeat center right #fff;}
form .fields .spacer{height:0px;font-size:0;line-height:0;}
form .methods{text-align:center;}
form .cards{overflow:hidden;margin:0;padding:0;list-style:none;display:inline-block;}
form .cards li{-webkit-transition:all .2s;-moz-transition:all .2s;-ms-transition:all .2s;-o-transition:all .2s;transition:all .2s;background-image:url('../../promo/m/css/img/cards-curved-32px.png');background-position:0 0;float:left;height:32px;margin-right:8px;text-indent:-9999px;width:51px}
form .cards li:last-child{margin-right:0}
form .cards .visa.off{background-position:0 32px}
form .cards .visa_electron{background-position:255px 0}
form .cards .visa_electron.off{background-position:255px 32px}
form .cards .mastercard{background-position:204px 0}
form .cards .mastercard.off{background-position:204px 32px}
form .cards .maestro{background-position:153px 0}
form .cards .maestro.off{background-position:153px 32px}
form .cards .discover{background-position:102px 0}
form .cards .discover.off{background-position:102px 32px}
form .cards .amex{background-position:51px 0}
form .cards .amex.off{background-position:51px 32px}
form .fields .input select[name=cc_year],
form .fields .input select[name=cc_month]{}
form .fields .input input[name=cc_cvv]{}
form .fields a.cvvTip{}
form .terms{padding-bottom:20px;}
form .terms .question{font-size:17px;color:#333;text-align:center;}
form .terms .question input{margin-right:5px;margin-left:10px;}
form .terms .term{font-size:12px;color:#333;}
form .terms .term input{margin-right:3px;margin-left:5px;margin-top:1px;vertical-align:top;}
form .button{text-align:center;}
#noticeBar{display:none;padding:10px 0;}
#noticeBar .content{margin:0 auto;width:1000px;border:3px dashed red;background:#fff;text-align:center;padding:20px;}
#noticeBar h3{font-family:Arial, Helvetica, sans-serif;font-size:14px;text-align:left;line-height:1.2em;color:#000;}
#noticeBar h3 span{color:#f00;}
.footer{position:fixed;bottom:-94px;}
img.s1no-pres {
    margin: -39px 0 0 -14px;
}